services:
  backend:
    build: ./backend
    container_name: ecommerce-backend_container
    restart: always
    ports:
      - "3000:3000" 
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: ecommerce-frontend_container
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend