@import "tailwindcss";

html,body{
    max-width:100vw;
    overflow:hidden;
}


@theme{
    --color-oxford:#f5f5f7;
    --color-tan:rgba(0, 0, 0, .8);
    --color-app-black:rgb(29, 29, 31);
    --color-blue-button:rgb(0, 113, 227);
}

@layer base{
    html{
        @apply text-black
    }
}

@layer components{
    button{
        @apply bg-blue-button rounded p-3 ml-2 mr-2
    }
}