@import "tailwindcss";

html,body{
    max-width:100vw;
    overflow-x:hidden;
}


@theme{
    --color-oxford:#f5f5f7;
    --color-tan:rgba(0, 0, 0, .8);
    --color-app-black:rgb(29, 29, 31);
    --color-blue-button:rgb(0, 113, 227);
}

@layer base{
    html{
        @apply text-black
    }
}

@layer components{
    button{
        @apply bg-blue-button rounded p-3 ml-2 mr-2
    }

    .home-image-container{
        .box{
            @apply w-[96%] md:w-[44%] lg:w-[30%] relative;
        
            img{
                @apply w-full;
            }

            .overlay{
                @apply absolute w-full bg-oxford flex justify-center items-center h-full transition-opacity duration-300 top-0 opacity-0 z-10 text-3xl font-black;
            }
        }

        .box:hover .overlay{
            @apply opacity-50
        }
    }

    /* create product */
    form{
        input{
            @apply border
        }
    }

}